* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Orbitron';
    src: url(fonts/Orbitron-Regular.ttf);
}

@font-face {
    font-family: 'IBM';
    src: url(fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Open';
    src: url(fonts/OpenSans-Regular.ttf);
}

body {
    background-color: #4B96F1;
}

canvas {
    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 8px;
    background-color: white;
}

main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 70px;
    height: 30px;
    padding: 4px;
    background-color: #f0f0f0af;
}


h3 {
    margin-left: 40px;
    margin-right: 20px;
    font: 500 18px 'IBM', sans-serif;
}


button {
    font: 500 16px 'Open', sans-serif;
    margin: 10px;
    background-color: #fff4f400;
}

.opcoes {
    font: 500 17px 'Open', sans-serif;
    text-align: left;
}

.tudo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.esquerdo,
.botoes,
.botoes2,
.principais {
    flex-direction: column;
    display: flex;
}

.esquerdo {
    margin-right: 60px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 8px;
    padding: 28px 20px;
}

.fa-eraser,
.fa-pencil,
.fa-fill-drip,
.fa-fill {
    padding-right: 6px;
}

.botao-forma.selecionado {
    color: #4B96F1;
}

.azul {
    color: #4B96F1;
}

.principais {
    align-items: flex-start;
}

i {
    font-size: 17px;
}

#tamanhoDoTraco {
    width: 100%;
    height: 30px;
}

.cores {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#seletorDeCores {
    margin-left: 20px;
}

.final {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.preencher-divs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .acao{
    padding-right: 8px;
} */

#botaoDesfazer {
    background-color: #4B96F1;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.voltar {
    font: 500 16px 'Open', sans-serif;
    padding-right: 8px;
    color: white;
}


#botaoDesfazer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 110px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: #4B96F1;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(68, 113, 168);
    transition-duration: .3s;
    margin-bottom: 30px;
}

.fa-arrow-rotate-left {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}

#botaoDesfazer:hover {
    color: transparent;
}

#botaoDesfazer:hover i {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
    color: white;
}

#botaoDesfazer:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

.botaoDiferente {
    justify-content: center;
    display: flex;
}

#botaoLimpar {
    border: 2px solid rgb(179, 179, 179);
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

#salvarDesenho {
    background-color: #4B96F1;
    padding: 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

